.imageLoad {
  display: block;
}

.content {
  position: relative;
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;

  img[src=''] {
    display: none;
  }
}

.inputGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noload {
  .content {
    display: none;
  }
}
